@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: var(--fontPoppins);
}

:root {
    --primaryColor1: hsl(0, 100%, 74%);
    --primaryColor2: hsl(154, 59%, 51%);

    --accentColor: hsl(248, 32%, 49%);

    --neutralColor1: hsl(249, 10%, 26%);
    --neutralColor2: hsl(246, 25%, 77%);

    --fontPoppins: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primaryColor1);
    background: var(--primaryColor1) url("images/bg-intro-desktop.png") center center/cover no-repeat fixed;
}

.text {
    padding: 0rem 2rem;
    color: white;
    text-align: justify;
    width: 600px;
    margin-left: 5rem;
}

.text > h1 {
    text-align: left;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

article {
    width: 32.25rem;
    background-color: var(--accentColor);
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.281);
}

strong {
    font-weight: 700;
}

.container_form {
    background-color: white;
    width: 32.25rem;
    height: 32rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.281);
}

.container_form > form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.input_container {
    position: relative;
}

.iconError {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

}


.input_container > input {
    border-radius: 10px;
    padding: 1em;
    border: 2px solid var(--neutralColor2);
    width: 100%;
}

.input_container > input::placeholder {
    font-weight: 600;
}

.input_container > input:focus {
    outline: none;
    font-weight: 600;
    color: hsl(248, 33%, 28%);
}

#buttonSubmit {
    border-radius: 10px;
    padding: 1em;
    border: none;
    background-color: var(--primaryColor2);
    color: white;
    font-weight: 600;
}

#buttonSubmit:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#buttonSubmit:active {
    background-color: hsl(154, 58%, 31%);
}


form>p {
    text-align: center;
    margin: 0.5rem;
    font-size: 0.5em;
}

.error_message {
    font-size: 0.5em;
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    margin-top: 0.5rem;
    color: red;
}

.hidden {
    opacity: 0;
}

.attribution {
    padding-bottom: 0.5rem;
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    font-weight: 700;
    color: var(--accentColor);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}


@media(max-width: 900px) {
    
    article {
        width: 25rem;
    }
    
    .container_form{
        width: 25rem;
    }

}


@media(max-width: 788px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background: var(--primaryColor1) url("images/bg-intro-mobile.png") center center/cover no-repeat fixed;
    }
    
    .text {
        width: 100%;
        margin: 0;
    }

    .text > h1 {
        font-size: 2em;
        text-align: center;
    }

    .text > p {
        text-align: center;
        width: 100%;
    }

    article {
        width: 100%;
    }
    
    .container_form{
        width: 100%;
    }

    main {
        margin: 1rem;
    }

}



