@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-Kumbh: 'Kumbh Sans', sans-serif;

    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    --light-grayish-blue: hsla(240, 4%, 91%, 0.582);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-Kumbh);
    font-size: 12px;
}

body {
    background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain_main {
    display: flex;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-width: 850px;
    min-height: 450px;
    overflow: hidden;
}

.contain_img_desktop {
    width: 50%;
    background-color: red;
}

.contain_img_desktop > img:nth-child(1){
    width: 50%;
    position: absolute;
    right: 58%;
    bottom: 20%;
    z-index: 2;
}

.contain_img_desktop > img:nth-child(2){
    width: 100%;
    position: absolute;
    right: 60%;
    bottom: -15%;
    z-index: 1;
}

.box_desktop{
    width: 22%;
    position: absolute;
    right: 89%;
    bottom: 25%;
    z-index: 3;
}

.contain_faq {
    width: 50%;
    height: 100%;
    padding: 40px 70px 0px 0px;
}

.contain_faq > h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--very-dark-desaturated-blue);
}

.contain_question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contain_question > h2 {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 400;
}



.contain_question > h2:hover {
    color: var(--Soft-red);
    font-weight: 700;
}

.contain_paragraph {
    width: 85%;
    text-align: justify;
    margin-bottom: 1em;
    color: var(--dark-grayish-blue);
}


.hidden {
    display: none;
}


hr {
    margin: 10px 0px;
    border-color: var(--light-grayish-blue);
}

.box_contain {
    position: relative;
}


.arrow {
    transition: 0.5s;
}

.contain_img_mobile{
    display: none;
}


@media (max-width: 940px) {
    .contain_main {
        min-width: 600px;

    }

    .contain_faq > h1 {
        padding-top: 40px;
        font-size: 2em;
    }

    .contain_question > h2 {
        font-size: 1.2em;
    }

    .contain_paragraph {
        font-size: 0.8em;
    }

    .contain_faq {
        padding: 0px 40px 0px 0px;
    }

    .contain_img_desktop > img:nth-child(1){
        width: 50%;
        position: absolute;
        right: 58%;
        bottom: 30%;
    }
    
    .contain_img_desktop > img:nth-child(2){
        width: 100%;
        position: absolute;
        right: 60%;
        bottom: 5%;
    }

    .box_desktop{
        width: 25%;
        position: absolute;
        right: 87%;
        bottom: 30%;
    }

}


@media (max-width: 665px) {

    body {
        flex-direction: row;
    }

    .contain_main {
        min-width: 340px;
        height: 600px;
        flex-direction: column;
        position: relative;
        overflow: visible;
        margin-bottom: 1rem;
        margin-top: 1rem;

    }

    .contain_faq > h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0em;
    }

    .contain_question > h2 {
        margin-top: 20px;
        font-size: 1.2em;
    }

    .contain_paragraph {
        font-size: 0.9em;
        width: 90%;
        text-align: left;
    }

    .contain_faq {
        width: 340px;
        height: 90%;
        padding: 0px 20px;
    }

    .contain_img_desktop {
        display: none;
    }

    .box_desktop{
        display: none;
    }

    .contain_img_mobile{
        display: block;
        height: 25%;
    }

    .contain_img_mobile > img:nth-child(1){
        width: 80%;
        position: absolute;
        bottom: 86.5%;
        left: 10%;
    }

    .contain_img_mobile > img:nth-child(2){
        width: 80%;
        position: absolute;
        bottom: 80%;
        left: 10%;
    }


}

@media (max-height: 800px) {
    .contain_main {
        height: 525px;
        margin-bottom: 20px;

    }

    .contain_question > h2 {
        margin-top: 10px;
    }

    body {
        align-items: center;
    }

    .contain_img_mobile > img:nth-child(1){
        width: 80%;
        position: absolute;
        bottom: 83.5%;
        left: 10%;
    }

    .contain_img_mobile > img:nth-child(2){
        width: 80%;
        position: absolute;
        bottom: 80%;
        left: 10%;
    }
}


@media (max-height: 500px) {


    .contain_main {
        overflow: scroll;
        width: 90vw;
        height: 400px;
        flex-direction: column;
        position: relative;
        overflow: visible;
        margin-bottom: 0rem;
        border-radius: 0px;

    }

    .contain_faq > h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 0em;
    }

    .contain_question > h2 {
        margin-top: 20px;
        font-size: 1em;
    }

    .contain_paragraph {
        font-size: 0.9em;
        width: 90%;
        text-align: left;
    }

    .contain_faq {
        width: 100%;
        height: 90%;
        padding: 0px 20px;
    }

    .contain_img_desktop {
        display: none;
    }

    .box_desktop{
        display: none;
    }

    .contain_img_mobile{
        display: block;
        height: 25%;
    }

    .contain_img_mobile > img:nth-child(1){
        width: 50%;
        position: absolute;
        bottom: 84.5%;
        left: 25%;
    }

    .contain_img_mobile > img:nth-child(2){
        width: 50%;
        position: absolute;
        bottom: 80%;
        left: 24%;
    }
}
