@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    --Font-Josefin: 'Josefin Sans', sans-serif;
}

body {
    font-family: var(--Font-Josefin);
    font-size: 18px;
}

main {
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > img {
    height: 100vh;
    width: 45vw;
}

.text {
    width: 55vw;
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem 2rem 7rem;
}

.text > h1 {
    font-size: 4em;
    letter-spacing: 15px;
}

.text > h1 > span {
    color: var(--Desaturated-Red);
    font-weight: 300;
}

.text > p {
    text-align: justify;
    color: var(--Desaturated-Red);
    font-weight: 300;
    max-width: 450px;
    margin: 2rem 0rem;
}

.logo {
    max-width: 10rem;
    margin: 1rem 0rem;
}

#buttonText{
    display: flex;
    align-items: center;
    position: relative;
    width: 55%;
    height: 51px;
    border-radius: 30px;
    margin: 10px 0px;
}


#iconError {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 25%;
}


#email {
    margin: 1rem 0rem;
    border-radius: 30px;
    border: 1px solid var(--Desaturated-Red);
    width: 100%;
    height: 50px;
    padding: 10px;
    padding: auto;
}


#email::placeholder{
    color: hsla(0, 36%, 70%, 0.705);
}

#email:focus {
    outline: 0;
}

#button {
    position: absolute;
    border-radius: 30px;
    width: 20%;
    height: 95%;
    border: none;
    top: 3%;
    right: 0.1%;
    background-image: linear-gradient(135deg, hsla(0, 53%, 84%, 0.63),hsl(0, 80%, 73%));
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.39);
}

#button:hover {
    cursor: pointer;
    background-image: linear-gradient(135deg, hsl(0, 80%, 73%),hsla(0, 53%, 84%, 0.63));
}

#button:active {
    background-image: linear-gradient(135deg, hsla(0, 80%, 86%, 0.568),hsla(0, 74%, 74%, 0.562));
    height: 100%;
    top: 0;
    width: 21%;
    right: -1%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.384);
}

#errorEmail{
    font-size: 10px;
    color: red;
    margin-left: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }